/.vscode
.viscode
.cache
.parcel-cache*
.yarn
dest
dist
node_modules
.terraform
.env
*.log
*.swp
.next
build/
srs_db/ignition/transcript00.dat
srs_db/ignition/transcript01.dat
srs_db/ignition/transcript02.dat
srs_db/ignition/transcript03.dat
